ul {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
li {
    padding-left: 4px;
    padding-right: 4px;
}
.inline-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        list-style-type: none;
        display: inline;
    }
    .current-page {
        font-weight: 700;
    }
}