@font-face {
    font-family: Newsflash;
    src: url(../fonts/Newsflash.otf);
}
@font-face {
    font-family: Indiana;
    src: url(../fonts/Indiana.otf);
}
@font-face {
    font-family: BankHoliday-SemiexpandedRegular;
    src: url(../fonts/BankHoliday-SemiexpandedRegular.otf);
}
@font-face {
    font-family: Celevenia-ExpandedRegular;
    src: url(../fonts/Celevenia-ExpandedRegular.otf);
}
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/FontAwesome.otf);
}
@font-face {
    font-family: Nataki-SemiexpandedRegular;
    src: url(../fonts/Nataki-SemiexpandedRegular.otf);
}
